# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
dist/
build/

# --- Virtualenv ---
venv/
env/
.venv/

# --- Pytest / Coverage ---
.pytest_cache/
.coverage
htmlcov/
report.html

# --- Selenium ---
*.log
geckodriver.log
chromedriver.log

# --- IDE / Editors ---
.idea/
.vscode/
*.swp
*.swo

# --- OS files ---
.DS_Store
Thumbs.db
